[Unit]
Description=Poll for new TERA commits and redeploy planner

[Timer]
OnBootSec=2min
OnUnitActiveSec=__UPDATE_INTERVAL__
Persistent=true

[Install]
WantedBy=timers.target
